src/main/mule/mulejavaclasstm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="92ae323e-4bc0-49d9-ab51-99c800283b92" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulejavaclasstmFlow" doc:id="32a05cad-5143-4447-bd0a-665fdc6409ba" >
		<http:listener doc:name="/mulejavaclasstm" doc:id="cbd75a37-c474-4c3c-8757-d5304bc5f00c" config-ref="HTTP_Listener_config" path="/mulejavaclasstm"/>
		<ee:transform doc:name="Transform Message" doc:id="57515bb5-14cb-47b0-aebf-acf7c5a3d008" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import java!mulejavapackage::mulejavaclasshello
---
{
	Note: mulejavaclasshello::getWelcomeMessage(),
	Name: "ALEKHYA REDDY"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="872a1ecc-0c01-486f-bda8-273c42babdef" message="#[payload]"/>
	</flow>
</mule>
